
<section id="aboutus" class="md-padding">
		<div class="container">
			<ul class="navbar-nav text-uppercase ml-auto " style="display: block;">
				<li class="nav-item admin-nav">
					<a class="nav-link "  href="/admin">Admin</a>
				</li>

				<li class="nav-item admin-nav">
					<a class="nav-link "  href="/admin/users">Users</a>
				</li>
				<li class="nav-item admin-nav">
					<a class="nav-link "  href="/admin/categories">Categories</a>
				</li>

				<li class="nav-item admin-nav">
					<a class="nav-link "  href="/admin/postlist">Posts</a>
				</li>
			</ul>
			
		</div>
	</section>
