
<!--==========================
    INSIDE HERO SECTION Section
============================-->	
<section class="page-image page-image-contact md-padding">
    <h1 class="text-white text-center">EDIT POST</h1>
</section>
    
    <!--==========================
    Contact Section
============================-->
<section id="contact" class="md-padding">
	<div class="container">

			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">Edit Category</h2>
					</div>
				</div>
			</div>

		<div class="row">
			<div class="col-lg-12">
				<form action="/admin/category/update/{{post._id}}?_method=PUT" method="POST" >
				<input type="hidden" name="_method" value="PUT">
					<div class="row">
						<div class="col-md-12 col-lg-12">
                            <div class="form-group">
								<input class="form-control" name="categoryName" type="text" value="{{category.name}}" required="required" data-validation-required-message="Please enter your firstName.">
								<p class="help-block text-danger"></p>
							</div>
						</div>
						</div>
					
						<div class="clearfix"></div>
						<div class=" col-lg-12 text-center">
							<div id="success"></div>
							<button  class="main-btn" type="submit">edit category</button>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
</section>

	